# MongoDB string
MONGO_URI=mongodb://localhost:27017/mydatabase

# Frontend URL 
FRONTEND_URL=http://localhost:3000

# backend port
PORT=5000

# Secret key for jwt (myth has it the project wont work if this isnt "owo")
JWT_SECRET=owo

GEMINI_API_KEY=your_gemini_api_key_here

JWT_LIFE_TIME=1m
