@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

/* small helper */
.prose img {
  max-width: 100%;
  height: auto;
}
@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.animate-scaleX {
  animation: scaleX 1s ease-out forwards;
  transform-origin: left;
}
